* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

main {
    padding: 20px 20px 0px 20px;
    gap: 20px;
    background: #FAFAFA;
    position: relative;
    min-height: 100vh;
}

.buttons-container {
    display: flex;
    gap: 10px;
}

.button-part {
    display: flex;
    width: 272px;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background: #AFEDA0;
    cursor: pointer;
}

.button-part span {
    color: #000;
    font-family: Sansita;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.categorys {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.category {

    --_background_Later: #E9FFDF;
    --_background_Future: #DFFDFF;
    --_background_Today: #FFF8DF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    border-radius: 20px;
    box-shadow: 0px 0px 5.3px 0px rgba(0, 0, 0, 0.20);
}

#Later .title,
#Later .job {
    background-color: var(--_background_Later);
}

#Future .title,
#Future .job {
    background-color: var(--_background_Future);
}

#Today .title,
#Today .job {
    background-color: var(--_background_Today);
}


.category .title {
    display: flex;
    padding: 24px 20px;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    border-radius: 20px 20px 0px 0px;
}

.category .jobs {
    width: 100%;
    display: flex;
    min-height: 200px;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    border-radius: 0px 0px 20px 20px;
    border: 1px solid #C2C2C2;
    background: #FFF;
}

.category .jobs .job {
    display: flex;
    width: 570px;
    padding: 10px 15px;
    justify-content: space-between;
    align-items: center;

    border-radius: 20px;
}

.job .check-box {
    display: flex;
    height: 20px;
    width: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid #CCC9C9;
    background: #FFF;
}

.job h4 {
    color: #000;
    font-family: Sansita;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.job.checked h4 {
    text-decoration-line: line-through;
}

.job.dragging {
    opacity: 0.5;
}

/* overlay for Modals */
.overlay {
    background: rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(2.5px);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    top: 0;
}

/* Modal */

.modal_ {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_ .main {
    display: flex;
    width: 600px;
    height: 350px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    z-index: 100;
    position: absolute;
    top: 80px;

    border-radius: 20px;
    background: #FFF;

    transition: all 0.3s ease 0s;

    transform: translateY(calc(-100% - 80px));
}

.main.open {
    transform: translateY(0);
}

.main h3 {
    width: 397px;
    height: 66px;
    flex-shrink: 0;

    color: #000;
    font-family: Sansita;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main input {
    display: flex;
    width: 397px;
    height: 90px;
    padding: 10px;
    align-items: center;
    flex-shrink: 0;

    border-radius: 20px;
    border: 1px solid #898989;
    color: #000;
    font-family: Sansita;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main .submit-button {
    display: flex;
    width: 338px;
    height: 70px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
    border-radius: 20px;
    background: #08A20E;
}

.submit-button span {
    color: #FFF;
    text-align: center;
    font-family: Sansita;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.modal_ .close {
    position: absolute;
    right: 29px;
    top: 27px;
    cursor: pointer;
}